In [2]:
import networkx as nx
import pandas as pd
import re

coronavirus = pd.read_csv('#coronavirus_tweets_1_28.csv').drop('Unnamed: 0', axis=1)
wuhan = pd.read_csv('wuhan_tweets1-29.csv').drop('Unnamed: 0', axis=1)

tweets = coronavirus.append(wuhan).drop('date', axis=1).drop_duplicates()
tweets.head(5)

,username,to,text,retweets,favorites,mentions,hashtags,geo,newdate
0,USAOmbudsman,NaN,They know as much about medicine as they do ab...,0,0,NaN,#QAnon #Coronavirus #bigdummies #MAGA,NaN,2020-1-29
1,ktikariza,NaN,"Señores para qué #coronavirus en Colombia, si ...",23,84,NaN,#coronavirus,NaN,2020-1-29
2,LejournalFR,NaN,#coronavirus Urgent La commission nationale d...,7,7,NaN,#coronavirus #Chine #Tibet #Chine,NaN,2020-1-29
3,OttoBismarck00,NaN,"Resmi açıklamaya göre ölü sayısı 170, vaka sa...",0,0,NaN,#coronavirus,NaN,2020-1-29
4,Alfred_Research,NaN,Grants for epilepsy and multiple sclerosis res...,0,0,@Alfred_Research,#coronavirus,NaN,2020-1-29

In [3]:
edges = tweets[['username','to']]
edges = edges.ffill(axis=1)
edges['text'] = tweets['text']

In [4]:
G = nx.convert_matrix.from_pandas_edgelist(edges, 'username','to', create_using=nx.DiGraph)

In [5]:
betweenness = nx.betweenness_centrality(G)
degree = nx.degree_centrality(G)
closeness = nx.closeness_centrality(G)

In [6]:
betweenness_dict = {k: v*100000 for k, v in sorted(betweenness.items(), key=lambda item: item[1], reverse=True)}

In [21]:
scientist_list = [""]
betweenness_dict['MackayIM']

0.0012665309198826736

In [16]:
{k: v for k, v in sorted(betweenness_dict.items(), key=lambda item: item[1], reverse=True)[:30]}

{'2019nCoVwatcher': 0.08148015584578533,
 'plantsNbabes': 0.005066123679530694,
 'madameshawshank': 0.004221769732942245,
 'V2019N': 0.0037995927596480208,
 'Qgirl50': 0.0033774157863537962,
 'Harold68911': 0.0033774157863537962,
 'Tomo20309138': 0.0033774157863537962,
 'tom_carpino': 0.0029552388130595717,
 'AnnaKorhonen3': 0.0029552388130595717,
 'queenEvieB': 0.0029552388130595717,
 '2020WriteIn': 0.002533061839765347,
 'ifoundmetonight': 0.002533061839765347,
 'forgedbytrials_': 0.0021108848664711227,
 'ai6yrham': 0.0021108848664711227,
 'CaliCali2000': 0.0021108848664711227,
 'coriiiiiiiiiii1': 0.0021108848664711227,
 'dailydigger19': 0.0021108848664711227,
 'KrutikaKuppalli': 0.0021108848664711227,
 'AaronDodd': 0.0016887078931768981,
 'GiLia': 0.0016887078931768981,
 'MinnPatriot': 0.0016887078931768981,
 'helloalegria': 0.0016887078931768981,
 'LucasRukaa': 0.0016887078931768981,
 'KristianHarstad': 0.0012665309198826736,
 'CDCofBC': 0.0012665309198826736,
 'fylni': 0.0012665309198826736,
 'Charlie_Box': 0.0012665309198826736,
 'DavidWa59907969': 0.0012665309198826736,
 'momblogger': 0.0012665309198826736,
 'MackayIM': 0.0012665309198826736}

In [8]:
pd.DataFrame(betweenness_dict.items())

                     0         1
0      2019nCoVwatcher  0.081480
1         plantsNbabes  0.005066
2      madameshawshank  0.004222
3               V2019N  0.003800
4              Qgirl50  0.003377
...                ...       ...
15387          UmbiSam  0.000000
15388     MommyNoName1  0.000000
15389    meraklihavaci  0.000000
15390  ThunderPointLtd  0.000000
15391     Beaute_Reine  0.000000

[15392 rows x 2 columns]

In [9]:
degree_dict = {k: v for k, v in sorted(degree.items(), key=lambda item: item[1], reverse=True)}

In [10]:
{k: v for k, v in sorted(degree.items(), key=lambda item: item[1], reverse=True)[:25]}

{'ABSCBNNews': 0.006497303618998116,
 'gmanews': 0.004872977714248587,
 'BNODesk': 0.003443570918069002,
 'inquirerdotnet': 0.003248651809499058,
 'cnnphilippines': 0.0029887596647391337,
 'WHO': 0.002728867519979209,
 '2019nCoVwatcher': 0.0025339484114092654,
 'DrTedros': 0.002404002339029303,
 'realDonaldTrump': 0.0022740562666493406,
 'CNN': 0.0018192450133194726,
 'sanidadgob': 0.0017542719771294914,
 'spectatorindex': 0.001624325904749529,
 'ANCALERTS': 0.001624325904749529,
 'lookner': 0.0014943798323695668,
 'DrEricDing': 0.0013644337599896044,
 'SaludPublicaEs': 0.0011045416152296798,
 'CGTNOfficial': 0.0009745955428497174,
 'SenTomCotton': 0.0009745955428497174,
 'NoticiasCaracol': 0.0009745955428497174,
 'cnni': 0.0009096225066597363,
 'PhilippineStar': 0.0008446494704697551,
 'V2019N': 0.000779676434279774,
 'AFP': 0.000779676434279774,
 'GuidoCrosetto': 0.000779676434279774,
 'PDChina': 0.0007147033980897928}

In [11]:
pd.DataFrame(degree_dict.items())

                    0         1
0          ABSCBNNews  0.006497
1             gmanews  0.004873
2             BNODesk  0.003444
3      inquirerdotnet  0.003249
4      cnnphilippines  0.002989
...               ...       ...
15387      Harrienack  0.000065
15388    Spiritof1642  0.000065
15389     BilliePhoto  0.000065
15390    MommyNoName1  0.000065
15391    Beaute_Reine  0.000065

[15392 rows x 2 columns]

In [12]:
closeness_dict = {k: v for k, v in sorted(closeness.items(), key=lambda item: item[1], reverse=True)}

In [13]:
{k: v for k, v in sorted(closeness.items(), key=lambda item: item[1], reverse=True)[:25]}

{'ABSCBNNews': 0.006367357546618153,
 'gmanews': 0.004746406864527844,
 'BNODesk': 0.0035483940831221713,
 'inquirerdotnet': 0.0031187057371190956,
 'cnnphilippines': 0.002858813592359171,
 'WHO': 0.002728867519979209,
 'DrTedros': 0.002404002339029303,
 'realDonaldTrump': 0.002280720167797031,
 '2019nCoVwatcher': 0.0020215896117396995,
 'sanidadgob': 0.0018925124796613662,
 'CNN': 0.0016916194065177237,
 'spectatorindex': 0.0016332877028446987,
 'ANCALERTS': 0.0014969787538171657,
 'lookner': 0.0014168313698202342,
 'DrEricDing': 0.0012375816417139268,
 'SaludPublicaEs': 0.0011079612487133628,
 'BChantzis': 0.0010885337657335974,
 '____HaSi____': 0.0010560542747893953,
 'Vikinghavokk': 0.0010560542747893953,
 'DuhJcrDriIg1': 0.0010560542747893953,
 'Vicool93531823': 0.0010560542747893953,
 'ir_viedoklis': 0.0010560542747893953,
 'CGTNOfficial': 0.0008489810062157538,
 'SenTomCotton': 0.0008489810062157538,
 'NoticiasCaracol': 0.000844649470469755}

In [14]:
pd.DataFrame(closeness_dict.items())

                     0         1
0           ABSCBNNews  0.006367
1              gmanews  0.004746
2              BNODesk  0.003548
3       inquirerdotnet  0.003119
4       cnnphilippines  0.002859
...                ...       ...
15387          UmbiSam  0.000000
15388     MommyNoName1  0.000000
15389    meraklihavaci  0.000000
15390  ThunderPointLtd  0.000000
15391     Beaute_Reine  0.000000

[15392 rows x 2 columns]