In [1]:
import networkx as nx
import pandas as pd
import re

coronavirus = pd.read_csv('#coronavirus_tweets_2_10.csv').drop('Unnamed: 0', axis=1)
wuhan = pd.read_csv('wuhan_tweets2-10.csv').drop('Unnamed: 0', axis=1)

tweets = coronavirus.append(wuhan).drop('date', axis=1).drop_duplicates()
tweets.head(5)

,username,to,text,retweets,favorites,mentions,hashtags,geo,newdate
0,ZeDaAT,ruralbusinessbr,Para quem ainda não sabe oque fazer em relação...,0,0,NaN,#coronavirus #PraCegoVer,NaN,2020-2-9
1,DiarioYaracuyVE,NaN,#9Feb| #Amazon no acudirá al Mobile World Cong...,0,0,NaN,#9Feb #Amazon #coronavirus #Barcelona,NaN,2020-2-9
2,FrancoisGallot,NaN,#Coronavirus : le bilan en #Chine monte à 902 ...,0,0,@BFMTV,#Coronavirus #Chine,NaN,2020-2-9
3,JuliasJam,theboringhandle,Been following #coronavirus closely since earl...,1,1,NaN,#coronavirus #coronavirus,NaN,2020-2-9
4,Sccp4x,AFP,40 mil infectados por #Coronavirus,0,1,NaN,#Coronavirus,NaN,2020-2-9

In [2]:
edges = tweets[['username','to']]
edges = edges.ffill(axis=1)
edges['text'] = tweets['text']

In [3]:
G = nx.convert_matrix.from_pandas_edgelist(edges, 'username','to', create_using=nx.DiGraph)

In [4]:
betweenness = nx.betweenness_centrality(G)
degree = nx.degree_centrality(G)
closeness = nx.closeness_centrality(G)

In [5]:
betweenness_dict = {k: v*100000 for k, v in sorted(betweenness.items(), key=lambda item: item[1], reverse=True)}

In [6]:
scientist_list = [""]
betweenness_dict['MackayIM']

0.005611844051955473

In [7]:
{k: v for k, v in sorted(betweenness_dict.items(), key=lambda item: item[1], reverse=True)[:30]}

{'inteldotwav': 0.06224045221259706,
 'htommy998': 0.045915087697817505,
 'DrEricDing': 0.03877274072260145,
 'kinderpsych': 0.02958972318303795,
 'jenniferatntd': 0.027549052618690503,
 'DavidC_420': 0.022957543848908753,
 'JoannaTeglund': 0.019896538002387585,
 'IsabelVillalon1': 0.018366035079127,
 'l_wuhan': 0.015815196873692698,
 'Katarzy57471458': 0.014794861591518976,
 'anitalou_': 0.014284693950432114,
 'NetworksManager': 0.013774526309345251,
 'horus_2020': 0.013774526309345251,
 'UserFriendlyCMT': 0.01326435866825839,
 'K1LLUM1N471': 0.011223688103910947,
 'charlot44496375': 0.010713520462824084,
 'Trinitydraco1': 0.010713520462824084,
 'Beaubier': 0.010203352821737224,
 'SenTomCotton': 0.010203352821737224,
 'Sandraforminhas': 0.010203352821737224,
 'avatorl': 0.0091830175395635,
 'MikeChillit': 0.0091830175395635,
 'bprophetable': 0.008162682257389779,
 'nikki_miumiu': 0.008162682257389779,
 'Wuhan_Clan': 0.008162682257389779,
 'JasonEBurack': 0.008162682257389779,
 'AReawakening': 0.008162682257389779,
 'still_a_nerd': 0.007652514616302918,
 'Squigle': 0.007142346975216057,
 'AdamBenNasr2': 0.006632179334129195}

In [8]:
pd.DataFrame(betweenness_dict.items())

                     0         1
0          inteldotwav  0.062240
1            htommy998  0.045915
2           DrEricDing  0.038773
3          kinderpsych  0.029590
4        jenniferatntd  0.027549
...                ...       ...
13997  zanmartinmoreno  0.000000
13998          CAMRTY7  0.000000
13999         cammcf16  0.000000
14000         VMaledew  0.000000
14001     cocosmom2020  0.000000

[14002 rows x 2 columns]

In [9]:
degree_dict = {k: v for k, v in sorted(degree.items(), key=lambda item: item[1], reverse=True)}

In [10]:
{k: v for k, v in sorted(degree.items(), key=lambda item: item[1], reverse=True)[:25]}

{'BNODesk': 0.006070994928933648,
 'WHO': 0.004071137775873152,
 'PDChina': 0.0037854438968645096,
 'jenniferatntd': 0.003571173487608028,
 'IsChinar': 0.002928362259838583,
 'DrTedros': 0.0028569387900864223,
 'inteldotwav': 0.002642668380829941,
 'DrEricDing': 0.0025712449110777804,
 'nytimes': 0.002428397971573459,
 'Reuters': 0.0023569745018212985,
 'MikeRiosNews': 0.0019998571530604956,
 'howroute': 0.0019998571530604956,
 'bogofhub': 0.0017141632740518536,
 'COVID_19NEWS': 0.0016427398042996929,
 'CNN': 0.0015713163345475324,
 'SCMPNews': 0.0015713163345475324,
 'spectatorindex': 0.0014998928647953719,
 'DarrenPlymouth': 0.0014998928647953719,
 'kinderpsych': 0.0014284693950432112,
 'skekimi': 0.0014284693950432112,
 'EpochTimesChina': 0.0014284693950432112,
 'lookner': 0.0013570459252910507,
 'CGTNOfficial': 0.0013570459252910507,
 'ScottGottliebMD': 0.0013570459252910507,
 'SenTomCotton': 0.0013570459252910507}

In [11]:
pd.DataFrame(degree_dict.items())

                   0         1
0            BNODesk  0.006071
1                WHO  0.004071
2            PDChina  0.003785
3      jenniferatntd  0.003571
4           IsChinar  0.002928
...              ...       ...
13997     sofiasisko  0.000071
13998        CAMRTY7  0.000071
13999       cammcf16  0.000071
14000       VMaledew  0.000071
14001   cocosmom2020  0.000071

[14002 rows x 2 columns]

In [12]:
closeness_dict = {k: v for k, v in sorted(closeness.items(), key=lambda item: item[1], reverse=True)}

In [13]:
{k: v for k, v in sorted(closeness.items(), key=lambda item: item[1], reverse=True)[:25]}

{'BNODesk': 0.006412856779300785,
 'WHO': 0.00411810996769214,
 'jenniferatntd': 0.00330588631424286,
 'PDChina': 0.003296467834715103,
 'DrEricDing': 0.0032325935279432054,
 'DrTedros': 0.0028581291812489586,
 'IsChinar': 0.00282993723444841,
 'nytimes': 0.002469211382860408,
 'inteldotwav': 0.0022653368425166395,
 'Reuters': 0.002187343761159917,
 'nextstrain': 0.002132793658962842,
 'howroute': 0.0018665333428564625,
 'MikeRiosNews': 0.0018570102135561746,
 'jimmy_tuckler': 0.0018309830169515736,
 'COVID_19NEWS': 0.0015237006880460917,
 'CNN': 0.00146928280633016,
 'spectatorindex': 0.0014399893095193661,
 'SCMPNews': 0.001431715916395582,
 'DarrenPlymouth': 0.0013570459252910507,
 'SenTomCotton': 0.0012986085409483737,
 'ChrisMurphyCT': 0.001289193629026498,
 'EpochTimesChina': 0.001259910006428112,
 'lookner': 0.001242147300037575,
 'ScottGottliebMD': 0.001234605691430204,
 'business': 0.0012278034562157125}

In [14]:
pd.DataFrame(closeness_dict.items())

                     0         1
0              BNODesk  0.006413
1                  WHO  0.004118
2        jenniferatntd  0.003306
3              PDChina  0.003296
4           DrEricDing  0.003233
...                ...       ...
13997     dianejeantet  0.000000
13998  zanmartinmoreno  0.000000
13999          CAMRTY7  0.000000
14000         cammcf16  0.000000
14001     cocosmom2020  0.000000

[14002 rows x 2 columns]